
footer
    .info
        p 
            small Contact : 13422517829
            br
            small Email : thomas_0836@qq.com
        p   
            span Copyright © #{(new Date()).getFullYear()} 
